@model PruebaTec02OUCR.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @{
                string urlBase64 = "";
                if (Model.Imagen != null && Model.Imagen.Length > 0)
                {
                    string base64String = Convert.ToBase64String(Model.Imagen);
                    urlBase64 = "data:image/jpeg;base64," + base64String;
                }
            }
            <img src="@urlBase64" width="50px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAutorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAutorNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model?.LibrosId">Editar</a> |
    <a asp-action="Index">regresar a la lista</a>
</div>
