@model IEnumerable<PruebaTec02OUCR.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class = "btn btn-light" asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAutorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    @{
                        string urlBase64 = "";
                        if (item.Imagen != null && item.Imagen.Length > 0)
                        {
                            string base64String = Convert.ToBase64String(item.Imagen);
                            urlBase64 = "data:image/jpeg;base64," + base64String;
                        }
                    }
                    <img src="@urlBase64" width="50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAutorNavigation.Nombre)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.LibrosId">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.LibrosId">Detalles</a> |
                    <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.LibrosId">Eliminar</a> |
                    <a class="btn btn-info" asp-action="DeleteImagen" asp-route-id="@item.LibrosId">Eliminar imagen</a>
            </td>
        </tr>
}
    </tbody>
</table>
